<!DOCTYPE>
<html>

<head>
    <title>Sign In-Network Portal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <font style="color:white">a</font>
        <div class="email">
            &nbsp;&nbsp;
            <b>
                <a class="email" style="text-decoration:none"
                    href="https://accounts.google.com/signin/v2/identifier?hl=en&continue=https%3A%2F%2Fmail.google.com%2Fmail&service=mail&flowName=GlifWebSignIn&flowEntry=AddSession">
                    <i style="color:rgb(255, 107, 8);"
                        class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;rajmodi@gmail.com &nbsp;&nbsp;|&nbsp;&nbsp;
                </a>
                <i style="color:rgb(255, 107, 8);" class="glyphicon glyphicon-phone"></i> 5195446895
            </b>
        </div>
    </div>

    <div class="box">
        <div class="login">
            <font class="title">
                <a class="titlebar" style="text-decoration: none;" routerLink="/">
                    <font style="color:rgb(188, 6, 212)">N</font>etwork
                    <font style="color:rgb(255, 51, 15)">P</font>ortal
                </a>
            </font>
            <br><br>
            <font class="title2">
                Sign in
            </font>
            <br>
            <font class="title3">
                to continue to Network Portal
            </font>
            <br><br>
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" class="login" formControlName="email" placeholder="Enter your Email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
                <br><br><br>
                <p style="font-family: RobotoB;float: left;">
                    <a class="login" style="text-decoration: none; " routerLink="/register">
                        not Registered yet?<br> Sign Up Now
                    </a>
                </p>
                <p style="float: right;">
                    <button [disabled]="loading"  class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </p>
                <br><br>
            </form>

        </div>
    </div>
</body>

</html>