@font-face {
    font-family: Lato;
    src: url(../../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Exo;
    src: url(../../assets/fonts/Exo/Exo-Regular.ttf);
}

@font-face {
    font-family: Exo2;
    src: url(../../assets/fonts/Exo_2/Exo2-Black.ttf);
}

@font-face {
    font-family: PTS;
    src: url(../../assets/fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: RW;
    src: url(../../assets/fonts/Raleway/Raleway-Regular.ttf);
}

body {
    padding: 0px;
    margin: 0px;
}

div.email {
    font-family: Lato;
    border-left: 0.5px solid black;
    float: right;
    margin-right: 5%;
    border-left-color: rgb(197, 197, 197);
    padding: 5px;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    color: rgba(77, 77, 77, 0.733);
}

div.header {
    border-bottom: 0.5px solid black;
    padding: 0px;
    border-bottom-color: rgba(77, 77, 77, 0.733);
    font-size: 22px;
}

div.titlebar {
    font-family: RW;
    font-size: 45px;
    padding: 10px;
    padding-left: 4%;
    font-weight: bolder;
    letter-spacing: 4px;
}

div.cover {
    background-image: url("../../assets/images/Cover.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 81.7%;
}

div.block {
    margin-top: 160px;
    border: 1.5px solid rgba(77, 77, 77, 0.733);
    border-radius: 50px;
    height: 35%;
    padding: 25px;
    text-align: center;
    width: 20%;
    margin-left: 10%;
    background-image: url("../../assets/images/NGO.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.block1 {
    margin-top: 160px;
    background-image: url("../../assets/images/Donor.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1.5px solid rgba(77, 77, 77, 0.733);
    border-radius: 50px;
    height: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    text-align: center;
    float: left;
    margin-left: 10%;
    width: 20%;
    cursor: pointer;
}

div.block2 {
    margin-top: 160px;
    background-image: url("../../assets/images/User.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1.5px solid rgba(77, 77, 77, 0.733);
    border-radius: 50px;
    height: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    cursor: pointer;
    text-align: center;
    float: left;
    margin-left: 10%;
    width: 20%;
}

font.block {
    font-family: Exo;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

i {
    size: 10px;
}

a.email {
    color: rgba(77, 77, 77, 0.733);
    text-decoration: none;
    cursor: pointer;
}

a.titlebar {
    color: black;
    text-decoration: none;
    cursor: pointer;
}