<!DOCTYPE>
<html>

<head>
    <title>Sign Up-Network Portal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <div class="header">
        <font style="color:white">a</font>
        <div class="email">
            &nbsp;&nbsp;
            <b>
                <a class="email" style="text-decoration:none"
                    href="https://accounts.google.com/signin/v2/identifier?hl=en&continue=https%3A%2F%2Fmail.google.com%2Fmail&service=mail&flowName=GlifWebSignIn&flowEntry=AddSession">
                    <i style="color:rgb(255, 107, 8);"
                        class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;rajmodi@gmail.com &nbsp;&nbsp;|&nbsp;&nbsp;
                </a>
                <i style="color:rgb(255, 107, 8);" class="glyphicon glyphicon-phone"></i> 5195446895
            </b>
        </div>
    </div>

    <div class="titlebar">
        <a class="titlebar" style="text-decoration: none;" routerLink="/">Network Portal</a>
        <font style="float: right;font-size:85px;">
            <a routerLink="/login">
                <button
                    style="letter-spacing: 1.5px;font-size:17px;border-radius: 7px;margin:12px;margin-right:30px;font-weight: bolder"
                    type="button" class="btn btn-warning">Sign In</button>
            </a>
        </font>
    </div>

    <div class="sform">
        <div class="sform1">

        </div>
        <div class="sform2">
            <p class="sform2">Sign Up</p>
            <div class="subsform2">
                <h2>Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a routerLink="/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>